<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/htmlHead"></div>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C52525;">
            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/sightings">Sightings</a>
                    <a class="nav-item nav-link" href="/heroes">Heroes</a>
                    <a class="nav-item nav-link" href="/orgs">Orgs</a>
                    <a class="nav-item nav-link active" href="/locations">Locations</a>
                </div>
            </div>

        </nav>
        <h1>Superhero Sightings</h1>
        <hr>
    </header>
    <!-- Main Body of Page -->
    <div class="container">
        <div class="col-lg-12">
            <div>
                <form action="addLocation" method="POST">
                    <div class="form-group row">
                        <label for="locationName" class="col-sm-2 col-form-label">Location Name:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.locationName')}">
                                <p th:each="error : ${#fields.errors('location.locationName')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="locationName" class="form-control" id="locationName" th:field="*{location.locationName}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="locationDescrip" class="col-sm-2">Description:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.locationDescrip')}">
                                <p th:each="error : ${#fields.errors('location.locationDescrip')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <textarea class="form-control" name="locationDescrip" id="locationDescrip" rows="3" th:text="*{location.locationDescrip}"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="street1" class="col-sm-2 col-form-label">Street 1:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.street1')}">
                                <p th:each="error : ${#fields.errors('location.street1')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="street1" class="form-control" id="street1" th:field="*{location.street1}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="street2" class="col-sm-2 col-form-label">Street 2:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.street2')}">
                                <p th:each="error : ${#fields.errors('location.street2')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="street2" class="form-control" id="street2" th:field="*{location.street2}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="city" class="col-sm-2 col-form-label">City:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.city')}">
                                <p th:each="error : ${#fields.errors('location.city')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="city" class="form-control" id="city" th:field="*{location.city}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="state" class="col-sm-2 col-form-label">State:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.state')}">
                                <p th:each="error : ${#fields.errors('location.state')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="state" class="form-control" id="state" th:field="*{location.state}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="zipcode" class="col-sm-2 col-form-label">Zip code:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.zipcode')}">
                                <p th:each="error : ${#fields.errors('location.zipcode')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="zipcode" class="form-control" id="zipcode" th:field="*{location.zipcode}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="country" class="col-sm-2 col-form-label">Country:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.country')}">
                                <p th:each="error : ${#fields.errors('location.country')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="country" class="form-control" id="country" th:field="*{location.country}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="locationLat" class="col-sm-2 col-form-label">Latitude:</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.locationLat')}">
                                <p th:each="error : ${#fields.errors('location.locationLat')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="locationLat" class="form-control" id="locationLat" th:field="*{location.locationLat}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="locationLong" class="col-sm-2 col-form-label">Longitude</label>
                        <div class="col-sm-6">
                            <div th:if="${#fields.hasErrors('location.locationLong')}">
                                <p th:each="error : ${#fields.errors('location.locationLong')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                            <input type="text" name="locationLong" class="form-control" id="locationLong" th:field="*{location.locationLong}">
                        </div>
                    </div>

                    <div class="form-group row text-center">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-outline-dark">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End main body -->

    <footer class="main-footer"></footer>
    <div th:replace="fragments/endScripts"></div>
    <script>
        $(document).ready( function () {
        $('table').DataTable();
        } );
    </script> 
</body>
</html>



