<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/htmlHead"></div>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C52525;">
            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="/sightings">Sightings</a>
                    <a class="nav-item nav-link" href="/heroes">Heroes</a>
                    <a class="nav-item nav-link" href="/orgs">Orgs</a>
                    <a class="nav-item nav-link" href="/locations">Locations</a>
                </div>
            </div>

        </nav>
        <h1>Superhero Sightings</h1>
        <hr>
    </header>
    <div class="container">
        <div class="row m-4">
            <div class="col-3 text-center m-3">
                <span class="h3">Edit Sighting</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="editSighting" method="POST">
                    <div th:replace="fragments/sightingForm"></div>
                </form>
            </div>
        </div>
    </div> 
    <!-- End main body -->

    <footer class="main-footer"></footer>
    <div th:replace="fragments/endScripts"></div>
    <script>
        $(document).ready( function () {
        $('table').DataTable();
        } );
    </script>
</body>
</html>
